$navbar-font-color: #222 !default;
@import "../materialize/sass/materialize.scss";
// @import "compass/css3";

$facebook-color: #3b5998;

h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: normal;
}

html {
    min-height: 100%;

    body {
        background: linear-gradient(135deg, color("red", "base"), $primary-color);
        min-height: 100%;
        @media #{$small-and-down} {
            .container {
                width: 100%;
            }
        }

        @media #{$large-and-up} {
            .container {
                width: 85%;
            }
        }
        @media #{$extra-large-and-up} {
            .container {
                width: 75%;
            }
        }
        .page{
            position: relative;
            z-index: 10;
            background: #fff;
            border-radius: 1rem;
            margin-top: 5rem;
            margin-bottom: 5rem;
            padding-top: 2rem;
            // padding: 2rem 3rem;
            @media #{$small-and-down} {
                border-radius: 1.5rem;
                padding: 1rem 0.5rem;
                position: relative;
                top: -2rem;
            }
            // padding:

            .btn {
                border-radius: 1rem;
            }
        }

        nav{
            // padding-right: 1rem;
            background: none;
            box-shadow: none;
            padding: 8px 2rem;
            background: rgba(255,255,255, 0.85);
            z-index: 100;
            border-radius: 10px;
            &, .nav-wrapper i{
                height: 64px;
                line-height: 48px;
                position: sticky;
                top: 0;

                @media #{ $small-and-down } {
                    height: 48px;
                    padding: 0;
                }
            }
            .brand-logo {
                position: relative;
                float: left;
                font-family: "Playfair Display", serif;
                font-size: 1.3rem;
                
                img {
                    left: 0.5rem;
                    position: absolute;
                    height: 2.1rem;
                    top: 20%;
                }
                &:after{
                    padding-left: 3rem;
                    content: "Technology Students' Gymkhana";
                    font-size: 1.6rem;
                }
                span {
                    padding-left: 3rem;
                }
                @media #{$small-and-down} {
                    font-size: 1.4rem;
                    &.left {
                        left: 0px;
                    }
                    img {
                        display: none;
                    }
                    span {
                        padding-left: 0;
                    }
                }

                @media #{"only screen and (min-width : #{1500px})"} {
                    &:after {
                        font-size: 1.7rem;
                        // padding-left: 0px;
                    }
                }

                @media #{$small-and-down} {
                    &:after {
                        font-size: 1.4rem;
                        padding-left: 0px;
                    }
                }

                @media #{"only screen and (max-width : #{360px})"} {
                    &:after{
                        font-size: 1.2rem;
                    }
                }
                
            }
            @media (max-width: 1400px) {
                .brand-logo {
                    font-size: 1.3rem;
                }       
            }
            ul {
                li {
                    border-radius: 1rem;
                    margin-left: 0.25rem;
                    a {
                        border-radius: 1rem;
                    }
                    &.active {
                        a{
                            color: #fff;
                        }
                        font-weight: bold;
                        background: linear-gradient(45deg, color("deep-purple", "base"), color("red", "base"));
                        // border-bottom: 4px solid $primary-color;
                    }
                }
            }
        }

        .sidenav {
            @media #{$medium-and-up} {
                width: 500px;
            }
            .header-sidenav {
                margin-bottom: 2rem;
                @media #{$medium-and-up} {
                    margin-top: 2rem ;
                }
                img {
                    width: 10rem;
                    @media #{$small-and-down} {
                        width: 6rem;
                    }
                }
                h1{
                    padding-left: 2rem;
                    margin-top: 0;
                    font-size: 2rem;
                    margin-bottom: 0.25rem;
                    @media #{$small-and-down} {
                        font-size: 1.7rem;
                        padding-left: 0;
                    }
                }
                // h2 {
                //     padding-left: 2rem;
                //     font-size: 1.4rem;
                //     margin-top: 0.25rem;
                //     @media #{$small-and-down} {
                //         font-size: 1.3rem;
                //         padding-left: 0;
                //     }
                // }
            }
        }
        .sidenav-overlay {
            background-color: rgba($primary-color, 0.5);
        }


        .header{
            padding-left: 3rem;
            @media #{$small-and-down} {
                padding-left: 0rem;
            }
            &.valign-wrapper {
                @media #{$small-and-down} {
                    display: inherit;
                    align-items: baseline;
                }
            }
            @media #{$medium-and-up} {
                margin-top: 5rem ;
            }
            img {
                width: 10rem;
                @media #{$small-and-down} {
                    width: 8rem;
                    margin: 2rem;
                }
            }
            h1{
                // padding-left: 2.5rem;
                font-size: 5rem !important;
                margin-bottom: 0.25rem;
                margin-top: 0;

                @media #{$small-and-down} {
                    text-align: center;
                    font-size: 3rem;
                    margin: 0;
                    // padding-left: 0.5rem;
                }
            }
            h2 {
                // padding-left: 2rem;
                font-size: 1.6rem;
                margin-top: 0.25rem;
                // @media #{$medium-and-up} {
                //     padding-left: 3rem;
                // }
                @media #{$small-and-down} {
                    margin-top: 0.5rem;
                    font-size: 1.6rem;
                    // padding-left: 0.5rem;
                    text-align: center;
                }
            }
        }

        .intro {
            margin: 0 -3rem;
            @media #{$small-and-down} {
                margin: 0 -0.5em;
            }
        }

        #content{
            padding: 2rem 3rem;
            @media #{$small-and-down} {
                padding: 0;
            }

            .blog-recent {

                .card-title {
                    font-size: 2rem;
                    font-family: "Roboto Slab", serif;
                    margin-bottom: 0.2rem;
                    // font-weight: bold;
                }

                .post-title{
                    text-decoration: none;
                    color: #222;
                }

                .card-content {
                    padding-bottom: 0;
                }

                .collection {
                    border: none;
                }

                .collection-item {
                    padding: 20px 0px;
                    small {
                        font-style: italic;
                        font-size: 1rem;
                    }
                    a {
                        margin: 1rem 0;
                    }
                    p {
                        margin-top: 2rem;
                    }
                }

            }
        }

        &.blog {

            .post-title {
                margin: 8.33% 6rem 0;
                @media #{$small-and-down} {
                    margin: 2% 0;
                }
            }
            .wp-post-image {
                margin-top: 2rem;
                width: 100%;
                height: 30rem;
                object-fit: cover;
                @media #{$small-and-down} {
                    height: 18rem;
                }
            }
            
            #content {
                // margin-top: 1rem;
                font-family: "Roboto Slab", sans-serif;
                font-size: 1.2rem;
                
                @media #{$small-and-down} {
                    font-size: 1rem;
                }
                
                h1 {
                    font-size: 3.2rem;
                }
                
                .description{
                    margin-top: 3rem;
                    margin-bottom: 3rem;
                    color: #222;
                    @media #{$medium-and-up} {
                        margin-left: -32px ;
                    }
                    .col {
                        margin-left: 0;
                    }
                    p {
                        margin: .25rem;
                        
                    }
                }
                
                .entry {
                    // border-bottom: solid $primary-color 4px;
                    padding-bottom: 4rem;
                    // .size-full, .progressiveMedia-image {
                    //     width: 100%;
                    //     height: auto;
                    // }
                    img {
                        max-width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                    .aligncenter {
                        clear: both;
                        display: block;
                        margin: 0 auto 24px;
                        max-width: 100%;
                    }
                    .wpcf7-form{
                        .select {
                            display: block;
                            -webkit-appearance: none; 
                            -moz-appearance: none;
                            appearance: none;       /* remove default arrow */
                            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAgMAAACf9p+rAAAACVBMVEUAAAAyMjIzMzMmhMtFAAAAAnRSTlMAgJsrThgAAABcSURBVHgBYhgxYBSMglGQtQoKVqJJSMEklqBJsAHam0MjAEAggGHHZozIyKgYOgDmaytinGcsYxdBBAkBCQEJAQkBQQRBBEEUQQRBBEEEQRRBBEEEQQRBTNP0vwu7s0JpRPs+OAAAAABJRU5ErkJggg==");   /* add custom arrow **/
                        }
                    }
                }
                
                .navigation {
                    margin: 2rem 0rem;
                    a {
                        @extend .btn-flat;
                        font-size: 1.3rem;
                        text-transform: none;
                    }
                }
                
                #comments {
                    margin-top: 4rem;
                    margin-bottom: 4rem; 
                    // font-family: "Roboto Slab", serif;
                    // font-size: 1.6rem;
                }
                .commentlist {
                    list-style: none;
                    padding: 0;
                    .avatar {
                        border-radius: 50%;
                        margin-right: 1rem;
                    }
                    .comment-author{
                        @extend .valign-wrapper;
                    }
                    .says {
                        display: none;
                    }
                }
                #respond{
                    h3 {
                        font-family: "Roboto Slab", serif;
                        font-size: 1.6rem;
                    }
                }
                .navigation {
                    .alignright {
                        text-align: right;
                    }
                }
            }


            .fixed-action-btn {
                .btn-floating {
                    border-radius: 2rem;
                }
                @media #{$medium-and-up} {
                    right: 15rem ;
                }

                @media #{$large-and-up} {
                    right: 20rem ;
                }

                .icon-facebook, .icon-twitter{
                    font-family: "fontello";
                }
                
            }
            .facebook-color {
                background-color: $facebook-color;
            }
        }



        .links {
            position: relative;
            z-index: 0;
            margin-top: -8rem;
            padding-top: 5rem;
            border-radius: 2rem;
            margin-bottom: 0rem;
            background: linear-gradient(45deg, color("pink", "darken-2"), color("red", "base"));
            
            @media #{$small-and-down} {
                margin-top: -10rem;
            }

            .container {
                padding-bottom: 1rem;
            }
            
            address {
                color: color("purple", "lighten-4");
            }

            ul {
                @media #{$large-and-up} {
                    text-align: right;
                }
            }

        }

        .footer {
            color: rgba(255,255,255, 0.5);
            padding: 3em;
        }
    }
}
