$navbar-font-color: #222 !default;
@import "../materialize/sass/materialize.scss";


html {
    body {
        background: linear-gradient(135deg, color("red", "base"), $primary-color);
        @media #{$small-and-down} {
            .container {
                width: 100%;
            }
        }
        .page{
            background: #fff;
            border-radius: 1rem;
            margin-top: 5rem;
            margin-bottom: 5rem;

            padding: 0 1rem;
            // padding:
        }

        nav{
            padding-right: 1rem;
            background: none;
            box-shadow: none;
            ul {
                li {
                    &.active {
                        background: none;
                        border-bottom: 4px solid $primary-color;
                    }
                }
            }
        }
    }
}
