#bbpress-forums {
    position: relative;
}
#bbpress-forums .bbp-search-form {
    width: 100%;
    margin-bottom: 30px;
    float: left;
}
#bbpress-forums #bbp-search-form {
    position: relative;
    float: none;
}
#bbpress-forums #bbp-search-form #bbp_search {
    width: 95%;
    height: 32px;
}
#bbpress-forums #bbp-search-form .button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 3px 3px 0px;
}
 #bbpress-forums select, #bbpress-forums input{
 	font-size: 14px;
 	border-radius: 4px;
 }
.widget_display_topics .bbp-forum-title{
  display: block;   
}
#bbpress-forums .bbp-forum-title,
#bbpress-forums .bbp-topic-permalink{
	font-size: 18px;
}
#bbpress-forums .bbp-forums-list li{
	font-size: 1.6rem;
}
#bbpress-forums .bbp-forums-list{
  border:none;
}
#bbpress-forums li.bbp-forum a {
    display: inline-block;
    border: 1px solid;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 2px;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta { 
    font-size: 12px;
    line-height: 18px;
}
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta { 
	margin-bottom: 0; 
	margin-top: 0; 
}
#bbpress-forums .bbp-forum-info .bbp-forum-content{
  padding:6px 0 0;
}

/*.bbp-topic-started-by .avatar,
#subscription-toggle,
.bbp-topic-freshness,
.bbp-forum-freshness,
li.bbp-forum-freshness,
.bbp-pagination-count,
.bbp-template-notice.info{ display: none }*/

.bbp-template-notice.info,
#subscription-toggle{
  display: none;
}
#bbpress-forums .bbp-topic-freshness,
#bbpress-forums .bbp-forum-freshness{
  text-align: right;
  float: right;
}
.bbp-topic-started-by a,
.bbp-topic-freshness-author a{
  display: inline-block;
  vertical-align: top;
}
.bbp-topic-started-by a.bbp-author-avatar,
.bbp-topic-freshness-author a.bbp-author-avatar{
    margin: 0 2px 0 0;
}
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar{
  border:none; 
  margin-bottom: 0;
  border-radius: 50%;
}
.bbp-topic-freshness a,
.bbp-forum-freshness a{
  font-size: 12px;
}

#bbpress-forums fieldset.bbp-form legend{
	font-size: 18px;
}
#bbpress-forums div.bbp-forum-content, 
#bbpress-forums div.bbp-topic-content, 
#bbpress-forums div.bbp-reply-content{
	margin-left: auto;
	padding: 0;
}
#bbpress-forums .topic div.bbp-reply-content,
#bbpress-forums .bbp-reply-content{
  margin-left: 115px !important;
}
#bbpress-forums div.bbp-forum-author img.avatar, 
#bbpress-forums div.bbp-topic-author img.avatar, 
#bbpress-forums div.bbp-reply-author img.avatar{
  border-radius: 50%;
  margin: 0 0 10px;
  max-width: 50px;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name{
	margin: 0;
	text-align: center;
}
#bbpress-forums li{
	font-size: 14px;
}
#bbpress-forums li:before{
  display: none;
}
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer{
	padding: 8px 15px;
  background: #f3f3f3;
}
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic,
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry { 
	padding: 15px;
}
#bbpress-forums div.odd,
#bbpress-forums ul.odd { 
	background: none 
}
#bbpress-forums div.bbp-forum-author, 
#bbpress-forums div.bbp-topic-author, 
#bbpress-forums div.bbp-reply-author{
	width: 85px; 
	margin: 0 30px 0 0;
}
#bbpress-forums div.bbp-reply-author a.bbp-author-name{
    font-size: 12px;
    line-height: 18px;
}
.bbp-pagination-count{
  border:none;
}
.bbp-pagination{
      margin-bottom: 5px;
}
#bbpress-forums .bbp-header .bbp-topic-permalink{
    font-size: 13px;
}
.bbp-pagination-links a, 
.bbp-pagination-links span.current,
.bbp-pagination-links a:hover{
    display: inline-block;
    font-size:14px;
    line-height: 1.4rem;
    height: 26px;
    border-radius: 2px;
    text-transform: uppercase;
    min-width: 26px;
    padding: 6px;
    text-align: center;
    border: none !important;
    vertical-align: top;
    opacity: 1;
}
.bbp-pagination-links a:hover{
	text-decoration: none;
}
.bbp-pagination-links a:after,
.bbp-pagination-links a:before{
	display: none;
}
.bbp-topic-pagination a{
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,0.1) !important;
}

div.bbp-submit-wrapper button,
#bbpress-forums #bbp-your-profile fieldset.submit button{
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 32px;
    min-width: 40px;
    height: 40px;
    padding: 5px 20px;
    border-radius: 0;
    max-width: 200px;
    border: none;
    text-align: center;
    color: #FFF;
    width: 100%;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
div.bbp-submit-wrapper button:hover,
#bbpress-forums #bbp-your-profile fieldset.submit button:hover{
    cursor: pointer;
    text-decoration: none;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.3), inset 0 0 230px rgba(0,0,0,.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.3), inset 0 0 230px rgba(0,0,0,.1);
}
#bbpress-forums li.bbp-header .bbp-search-author, #bbpress-forums li.bbp-footer .bbp-search-author, #bbpress-forums li.bbp-header .bbp-forum-author, 
#bbpress-forums li.bbp-footer .bbp-forum-author, #bbpress-forums li.bbp-header .bbp-topic-author, 
#bbpress-forums li.bbp-footer .bbp-topic-author, #bbpress-forums li.bbp-header .bbp-reply-author, 
#bbpress-forums li.bbp-footer .bbp-reply-author{
	width: 85px;
}
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, 
#bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, 
#bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content{
	  margin-left: 115px;
}
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
    background: rgba(0,0,0,0.01);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 5px 15px;
    font-size: 10px;
}
#bbpress-forums fieldset.bbp-form {
  border: none;
  padding: 0;
}
.favorite-toggle:before{
  content: "\f004";
  font-family: "FontAwesome";
  margin-right: 5px;
 
}
.favorite-toggle{
	text-decoration: none !important;
  font-size: 12px;
}
#bbpress-forums li.bbp-header { border-top: none }

#bbpress-forums fieldset.bbp-form label {
  margin-bottom: 5px;
  font-size: 14px;
}
#bbpress-forums #bbp-user-wrapper h2.entry-title{
	font-size: 24px;
  padding-top: 0;
  line-height: 38px;
}
#bbpress-forums .bbp-user-section p,
#bbpress-forums .bbp-user-section .bbp-topic-meta *{
	margin-bottom: 10px;
	font-size: 14px;
}
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar{
  border-radius: 50%;
}
#bbpress-forums #bbp-your-profile fieldset select {
  width: 60%;
}
#bbpress-forums #bbp-your-profile fieldset label[for]{
	width: 40%;
}

#bbpress-forums #bbp-your-profile fieldset input, 
#bbpress-forums #bbp-your-profile fieldset textarea,
#bbpress-forums #bbp-your-profile fieldset input:focus, 
#bbpress-forums #bbp-your-profile fieldset textarea:focus{
	background: transparent;
	border-radius: 4px;
	box-shadow: none;
	font-size: 14px;
}
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description{
	line-height: 1.6em;
}

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky { 
	background: none !important; 
}
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select { 
	margin-bottom: 5px 
}
div.bbp-submit-wrapper { 
	float: none; 
	margin-top: 0; 
}

#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar { border-radius: 0; margin-bottom: 10px; }
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content { 
    clear: both;
    height: 200px;
    resize: vertical;
    box-shadow: none;
    padding: 10px;
    outline: 0;
    line-height: normal;
    width: 100%;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
}
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header { 
	border-color: rgba(0,0,0,0.1) 
}

#bbpress-forums li.bbp-footer { display: none }
#bbpress-forums div.bbp-topic-tags { float: none }
#bbpress-forums .status-trash.odd { background: none }
#bbpress-forums .bbp-search-author,
#bbpress-forums .bbp-search-content { text-align: left }
.bbp-search .bbp-meta { display: none }
.bbp-breadcrumb { display: none !important }
#bbpress-forums div.bbp-search-form { float: none }
body.bbpress .social-share-title,
body.bbpress .social-share-buttons { display: none }
.widget_display_search { margin-bottom: 20px }
.widget_display_search form div {
    position: relative;
}
.widget_display_search .block-title { margin-bottom: 0px }
.widget_display_search label { display: none }
.widget_display_search .bbp_widget_login { margin-bottom: 20px }
.widget_display_search #bbp_search{padding-right: 105px;}
.widget_display_search #bbp_search_submit{
    position: absolute;
    top: 0;
    border-radius: 0 2px 2px 0;
    right: 0;
    height: 40px;
    width: 100px;
    min-width: 100px;
}
.bbp_widget_login .block-title {
    margin-bottom: 0;
    display: block;
}
.bbp_widget_login fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
.widget_display_forums li{
    position: relative;
    display: inline-block;
    padding-left: 25px;
}
.widget_display_forums li:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 0;
    position: absolute;
    top: 10px;
    left: 8px;
    border-radius: 50%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.bbp-login-form label{width: auto; vertical-align: middle;}
.bbp-logged-in h4{display: inline-block;}
.bbp-logged-in a.submit {
    background: transparent;
    height: 40px;
    width: 40px;
    box-shadow: none;
    padding: 0;
}
.bbp-logged-in .button.logout-link{
    position: absolute;
    top: 20px;
}
.sidebar .bbp_widget_login .button{float: right; margin: 5px 0 0 0;}
.bbp-login-form .bbp-submit-wrapper {
  text-align: right;
  float: right;
  margin-top: -30px;
}
.bbp-login-form .bbp-remember-me {
  float: left;
}
.bbp-login-form .bbp-username, .bbp-login-form .bbp-email, .bbp-login-form .bbp-password{
  margin-bottom: 10px;
  margin-top: 0;
}
.bbp-login-form .bbp-login-links a{
	font-size: 12px;
    clear: none;
    margin-right: 10px; 
}
.bbp-login-form label[for="rememberme"]{
  font-size: 12px;
}
.bbp-submit-wrapper .button.submit{
  margin-top: 5px;
}

.widget_display_stats .block-title { margin-bottom: 0 }
.widget_display_stats dl { margin-top: 10px; margin-bottom: 0; }
.widget_display_stats dd {
    display: inline-block;
    margin: 0 0 10px 0;
    text-align: right;
    width: 30%;
    padding-bottom: 10px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.widget_display_stats dt {
    display: inline-block;
    float: left;
    width: 70%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.widget_display_replies .bbp-author-avatar{
        margin: 0;
}
.widget_display_replies li,
.widget_display_topics li,
.widget_display_views li{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.widget_display_replies li:last-child,
.widget_display_topics li:last-child,
.widget_display_views li:last-child{
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.widget_display_topics .bbp-author-avatar{
  margin: 5px 5px 0;
}
.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input{
  height: 36px;
}
.widget_display_replies div,
.widget_display_topics div{
    font-size: 12px;
    margin-top: 5px;
}

.widget_display_replies a img,
.widget_display_topics a img{
  margin-bottom: 0;
  border-radius: 50%;
  margin-top: -4px;
}

.bbp-logged-in img.avatar{
  border-radius: 50%;
}

.bbp-topic-form,
.bbp-reply-form{
    float: left;
    width: 100%;
    clear: both;  
    padding: 40px 0 0;
}
div.bbp-template-notice p{
  font-size: 12px;
  margin:0 !important;
}
div.bbp-template-notice, div.indicator-hint{
  background: rgba(255, 235, 59, 0.3);
}
div.bbp-template-notice, div.indicator-hint{
    margin: 0 0 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
}

.bbp-topic-started-in a:hover,
.bbp-author-name:hover{
  text-decoration: underline;
}
.bbp_widget_login{
  position: relative;
}
.logout-link{
    clear: both;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    vertical-align: top;
    height: 27px;
    text-align: center;
    padding: 0;
    font-size: 11px;
    line-height: 26px;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 0 15px;
    user-select: none;
}

.bbp-body p a,
.bbp-body p a:hover{
  border: none;
}
span.bbp-author-ip{
  display: none;
}
.bbp-body .reply{
  margin: 0;
}

.bbpress .gridlove-content{
  max-width: 880px;
}
body.bbpress{
  overflow-x: hidden;
}
#bbpress-forums .bbp-forum-title, #bbpress-forums .bbp-topic-permalink,
.bbp-forums .bbp-forum-freshness a{
  text-decoration: none;
}